{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Constituencies</h4>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 text-center">
                        <form id="filterForm" method="GET" class="form-group form-group-default">
                            <label>Filter by County</label>                                
                            <select class="form-control input-sm" id="county" name="county" required>
                                <option value="" >All Counties</option>
                                {% for name in county_names %}
                                <option value="{{ name }}" {{ 'selected' if county_name==name }}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">CODE</th>
                                <th>CONSTITUENCY NAME</th>
                                <th>COUNTY NAME</th>
                                <th class="text-center">WARDS</th>
                                <th class="text-center">POLLING STATIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for constituency in constituencies %}
                            <tr>
                                <td class="text-center">{{ '%03d' % constituency.code }}</td>
                                <td>{{ constituency.name }}</td>
                                <td>{{ constituency.parent }}</td>                                
                                <td class="text-center">
                                    {% if constituency.ttl_wards %}
                                        <a href="{{ url_for('wards', county=constituency.parent, constituency=constituency.name) }}">{{ constituency.ttl_wards }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                
                                <td class="text-center">
                                    {% if constituency.ttl_polling_stations %}
                                        <a href="{{ url_for('polling_stations', county=constituency.parent, constituency=constituency.name) }}">{{ constituency.ttl_polling_stations }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });
        
        $('#county').on('change', function() {
            // Submit the form
            $('#filterForm').submit();
        });
    });
</script>

{% endblock %}