{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Counties</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">CODE</th>
                                <th>COUNTY NAME</th>
                                <th class="text-center">CONSTITUENCIES</th>
                                <th class="text-center">WARDS</th>
                                <th class="text-center">POLLING STATIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for county in counties %}
                            <tr>
                                <td class="text-center">{{ '%03d' % county.code }}</td>
                                <td>{{ county.name }}</td>
                                <td class="text-center">
                                    {% if county.ttl_constituencies %}
                                        <a href="{{ url_for('constituencies', county=county.id) }}">{{ county.ttl_constituencies }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if county.ttl_wards %}
                                        <a href="{{ url_for('wards', county=county.id) }}">{{ county.ttl_wards }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if county.ttl_polling_stations %}
                                        <a href="{{ url_for('polling_stations', county=county.id) }}">{{ county.ttl_polling_stations }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });
    });
</script>

{% endblock %}