{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title pull-right">Polling Stations</h4>                    
                    <form id="filterForm" class="row card-title" method="GET">
                        <div class="col-2 text-center"></div>
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by County</label>                                
                                <select class="form-control input-sm" id="county" name="county" required>
                                    <option value="" disabled>ALL COUNTIES</option>
                                    {% for name in county_names %}
                                    <option value="{{ name }}" {{ 'selected' if county_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                        
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Constituency</label>                                
                                <select class="form-control input-sm" id="constituency" name="constituency">
                                    <option value="">Select Constituency</option>
                                    {% for name in constituency_names %}
                                    <option value="{{ name }}" {{ 'selected' if constituency_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                       
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Ward</label>                                
                                <select class="form-control input-sm" id="ward" name="ward">
                                    <option value="">Select Ward</option>
                                    {% for name in ward_names %}
                                    <option value="{{ name }}" {{ 'selected' if ward_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>

                    <button class="btn btn-success btn-round ml-auto" data-toggle="modal" data-target="#addPollingStationModal"
                        onclick="addPollingStation()">
                        <i class="fa fa-plus"></i>
                        Add Polling Station
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">CODE</th>
                                <th>POLLING STATION NAME</th>
                                <th>WARD NAME</th>
                                <th>CONSTITUENCY NAME</th>
                                <th>COUNTY NAME</th>
                                <th class="text-center">VOTERS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for polling_station in polling_stations %}
                            <tr>
                                <td class="text-center">{{ '%03d' % polling_station.code }}</td>
                                <td>{{ polling_station.name }}</td>
                                <td>{{ polling_station.parent }}</td>    
                                <td>{{ polling_station.grand_parent }}</td> 
                                <td>{{ polling_station.great_grand_parent }}</td>                         
                                <td class="text-center">
                                    {% if polling_station.ttl_voters %}
                                        <a href="{{ url_for('voters_register', station=polling_station.id) }}">{{ polling_station.ttl_voters }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });
        
        $('#county').on('change', function() {
            // Reset
            $('#constituency').val(null);
            $('#ward').val(null);
            
            // Submit the form
            $('#filterForm').submit();
        });
        
        $('#constituency').on('change', function() {
            // Reset
            $('#ward').val(null);
            
            // Submit the form
            $('#filterForm').submit();
        });
        
        $('#ward').on('change', function() {
            // Submit the form
            $('#filterForm').submit();
        });
    });
</script>

{% endblock %}