{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">            
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title pull-right">Voters</h4>                    
                    <form id="filterForm" class="row card-title" method="GET">
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by County</label>                                
                                <select class="form-control input-sm" id="county" name="county" required>
                                    <option value="" disabled>All Counties</option>
                                    {% for name in county_names %}
                                    <option value="{{ name }}" {{ 'selected' if county_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                        
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Constituency</label>                                
                                <select class="form-control input-sm" id="constituency" name="constituency">
                                    <option value="">All Constituencies</option>
                                    {% for name in constituency_names %}
                                    <option value="{{ name }}" {{ 'selected' if constituency_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                       
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Ward</label>                                
                                <select class="form-control input-sm" id="ward" name="ward">
                                    <option value="">Select Ward</option>
                                    {% for name in ward_names %}
                                    <option value="{{ name }}" {{ 'selected' if ward_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                     
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Polling Station</label>                                
                                <select class="form-control input-sm" id="polling_station" name="ward">
                                    <option value="">Select Polling Station</option>
                                    {% for name in polling_station_names %}
                                    <option value="{{ name }}" {{ 'selected' if polling_station_name==name }}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>VOTER ID NO.</th>
                                <th>VOTER NAME</th>
                                <th>VOTER PHONE</th>                                
                                <th>POLLING STATION NAME</th>
                                <th>WARD NAME</th>
                                <th>CONSTITUENCY NAME</th>
                                <th>COUNTY NAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for voter in voters %}
                            <tr>
                                <td>{{ voter.code }}</td>
                                <td>{{ voter.name }}</td>
                                <td>{{ voter.phone }}</td>
                                <td>{{ voter.parent }}</td>
                                <td>{{ voter.grand_parent }}</td>
                                <td>{{ voter.great_grand_parent }}</td>
                                <td>{{ voter.great_great_grand_parent }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });
        
        $('#county').on('change', function() {
            // Reset
            $('#constituency').val(null);
            $('#ward').val(null);
            
            // Submit the form
            $('#filterForm').submit();
        });
        
        $('#constituency').on('change', function() {
            // Reset
            $('#ward').val(null);
            
            // Submit the form
            $('#filterForm').submit();
        });
        
        $('#ward').on('change', function() {
            // Reset
            $('#polling_station').val(null);

            // Submit the form
            $('#filterForm').submit();
        });
        
        $('#polling_station').on('change', function() {
            // Submit the form
            $('#filterForm').submit();
        });
    });
</script>

{% endblock %}