{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Voters</h4>
                    
                    <form id="filterForm" class="row card-title ml-auto" method="GET">
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by County</label>                                
                                <select class="form-control input-sm" name="county" required onchange="document.getElementById('filterForm').submit()">
                                    <option value="">Select County</option>
                                    {% for county in counties %}
                                    <option value="{{ county.id }}" {{ 'selected' if county_id==county.id }} >{{ county.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                        
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Constituency</label>                                
                                <select class="form-control input-sm" name="constituency" required onchange="document.getElementById('filterForm').submit()">
                                    <option value="">Select Constituency</option>
                                    {% for constituency in constituencies %}
                                    <option value="{{ constituency.id }}" {{ 'selected' if constituency_id==constituency.id }} >{{ constituency.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                    
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Ward</label>                                
                                <select class="form-control input-sm" name="ward" required onchange="document.getElementById('filterForm').submit()">
                                    <option value="">Select Ward</option>
                                    {% for ward in wards %}
                                    <option value="{{ ward.id }}" {{ 'selected' if ward_id==ward.id }}>{{ ward.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                  
                        <div class="col-3 text-center">
                            <div class="form-group form-group-default">
                                <label>Filter by Polling Station</label>                                
                                <select class="form-control input-sm" name="station" required onchange="document.getElementById('filterForm').submit()">
                                    <option value="">Select Polling Station</option>
                                    {% for polling_station in polling_stations %}
                                    <option value="{{ polling_station.id }}" {{ 'selected' if station_id==polling_station.id }}>{{ polling_station.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>

                    <button class="btn btn-success btn-round ml-auto" data-toggle="modal" data-target="#addVoterModal"
                        onclick="addVoter()">
                        <i class="fa fa-plus"></i>
                        Add Voter
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>VOTER ID NO.</th>
                                <th>VOTER NAME</th>
                                <th>VOTER PHONE</th>
                                <th>POLLING STATION</th>
                                <th class="text-center" style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for voter in voters %}
                            <tr>
                                <td>{{ voter.id_number }}</td>
                                <td>{{ voter.name }}</td>
                                <td>{{ voter.phone }}</td>
                                <td>{{ voter.polling_station_name }}</td>
                                <td>
                                    <div class="form-button-action">
                                        <button type="button" title="Edit this Voter" data-toggle="modal"
                                            data-target="#addVoterModal"
                                            onclick="editVoter('{{ voter.id }}', '{{ voter.id_number }}', '{{ voter.first_name }}', '{{ voter.last_name }}', '{{ voter.other_name }}', '{{ voter.phone }}', '{{ voter.polling_station_name }}')"
                                            class="btn btn-link btn-primary btn-lg"
                                            data-original-title="Edit this Voter">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" title="Remove this Voter" data-toggle="modal"
                                            data-target="#removeVoterModal"
                                            onclick="removeVoter('{{ voter.id }}', '{{ voter.name }}')"
                                            class="btn btn-link btn-danger" data-original-title="Remove this Voter">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addVoterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <input id="editVoterId" name="editVoterId" type="hidden">
                <div class="modal-header no-bd">
                    <h5 class="modal-title">
                        <span id="action_label" class="fw-mediumbold">
                            Add New</span>
                        <span class="fw-light">
                            Voter
                        </span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Voter Id Number</label>
                                <input id="VoterIdNumber" name="VoterIdNumber" type="text"
                                    class="form-control" placeholder="Type Voter Id Number Here" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Voter First Name</label>
                                <input id="VoterFirstName" name="VoterFirstName" type="text"
                                    class="form-control" placeholder="Type Voter First Name Here" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Voter Last Name</label>
                                <input id="VoterLastName" name="VoterLastName" type="text"
                                    class="form-control" placeholder="Type Voter Last Name Here" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Voter Other Name</label>
                                <input id="VoterOtherName" name="VoterOtherName" type="text"
                                    class="form-control" placeholder="Type Voter Other Name Here">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Voter Phone Number</label>
                                <input id="VoterPhone" name="VoterPhone" type="text"
                                    class="form-control" placeholder="Type Voter Phone Number Here" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Select Polling Station</label>                                
                                <select class="form-control input-sm" name="VoterPollingStationId" id="VoterPollingStationId" required>
                                    {% for polling_station in polling_stations %}
                                    <option value="{{ polling_station.id }}" {{ 'selected' if station_id==polling_station.id }}>{{ polling_station.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-bd">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="addVoterButton" name="action" value="add"
                        class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="removeVoterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <input id="removeVoterId" name="removeVoterId" type="hidden">
                <div class="modal-header no-bd">
                    <h5 class="modal-title">
                        <span class="fw-mediumbold">
                            Are you sure you want to Remove </span>
                        <span class="fw-light" id="removeVoterName"></span>
                        Voter
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Click Confirm Remove to Completely Remove this Voter.</p>
                    <small class="text-danger">THIS ACTION IS NOT REVERSIBLE</small>
                </div>
                <div class="modal-footer no-bd">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" id="removeVoterButton" name="action" value="remove"
                        class="btn btn-danger">Confirm Remove</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });
    });

    function addVoter() {
        $('#action_label').html('Add New');
        $('#editVoterId').val(null);
        $('#VoterIdNumber').val(null);
        $('#VoterFirstName').val(null);
        $('#VoterLastName').val(null);
        $('#VoterOtherName').val(null);
        $('#VoterPhone').val(null);
        $('#addVoterButton').val('add');
    }

    function editVoter(id, id_number, first_name, last_name, other_name, phone, polling_station_name) {
        $('#action_label').html('Edit');
        $('#editVoterId').val(id);
        $('#VoterIdNumber').val(id_number);
        $('#VoterFirstName').val(first_name);
        $('#VoterLastName').val(last_name);
        $('#VoterOtherName').val(other_name);
        $('#VoterPhone').val(phone);
        $('#VoterPollingStationId option').filter(function () {
            return $(this).text() === polling_station_name;
        }).prop('selected', true);
        $('#addVoterButton').val('edit');
    }

    function removeVoter(id, name) {
        $('#removeVoterId').val(id);
        $('#removeVoterName').html(name);
    }
</script>

{% endblock %}